
<button id="view-member" mat-stroked-button color="basic"  [routerLink]="['/members']">
          View Members
</button>
<button id="add-students" mat-stroked-button color="primary"  [routerLink]="['/members/addstudent']">
          Add Student
</button>
<button id="add-supervisors" mat-stroked-button color="primary"  [routerLink]="['/members/addsupervisor']">
          Add Supervisor
</button>
<button id="view-events" mat-stroked-button color="basic" [routerLink]="['/evenements']">
          View Events
</button>
<button id="add-event" mat-stroked-button color="primary"  [routerLink]="['/evenements/add']">
          Add Event
</button>
<button id="view-tools" mat-stroked-button color="basic" [routerLink]="['/outils']">
          View Tools
</button>
<button id="add-outil" mat-stroked-button color="primary"  [routerLink]="['/outils/add']">
          Add Tool
</button>
<button id="view-publications" mat-stroked-button color="basic" [routerLink]="['/publications']">
          View Publications
</button>
<button id="add-publication" mat-stroked-button color="primary"  [routerLink]="['/publications/add']">
          Add Publication
</button>


