<app-navigation></app-navigation>
<mat-card class="form-card">
  <mat-card-title>Event Information</mat-card-title>
  <mat-card-content>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="sub()">
  
        <!-- Titre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="titre">
      </mat-form-field>

      <!-- Date d'événement -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date of event</mat-label>
        <input matInput type="date" placeholder="Select date of event" formControlName="dateEvenement">
      </mat-form-field>


        <!-- Lieu -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="lieu">
      </mat-form-field>


      <button mat-stroked-button color="basic" type="submit">
        Submit
      </button>

    </form>
  </mat-card-content>

</mat-card>
